@import "tailwindcss";

@theme {
  --animate-marquee: marquee 30s linear infinite;
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  
  --animate-snowfall: snowfall 10s linear infinite;
  @keyframes snowfall {
    0% { transform: translateY(-10vh) translateX(0); }
    100% { transform: translateY(110vh) translateX(20px); }
  }
}

@layer base {
  html, body {
    @apply overflow-x-hidden w-full m-0 p-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
